.tab-content{
	background:transparent;
}

.nameBar{
	background-color: lightGray;
	padding: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 16px;
	text-shadow: none;
}

#formTab{
	padding: 5px 10px 10px 10px;
}

#formTab p.title{
	margin-block-start: 0;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

#gameTab, #scoreTab{
	text-align:center;
	padding: 0;
}

/*Hide dialogue close button*/
.header a{
	display:none !important;
}

#cardDisplay{
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
    height: 305px;
	display: table;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	overflow: hidden;
}

#cardDisplay.green{
    border: 1px inset white;
    background: #b4ddb4; /* Old browsers */
    background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 100%, #002400 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 100%,#002400 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 100%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#cardDisplay.red{
    border: 1px inset white;
    background: rgb(255,126,114); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,126,114,1) 0%, rgba(244,24,24,1) 53%, rgba(206,10,4,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,126,114,1) 0%,rgba(244,24,24,1) 53%,rgba(206,10,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,126,114,1) 0%,rgba(244,24,24,1) 53%,rgba(206,10,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#card{
    margin-top: 35px;
	width:160px;
	height:232px;
	margin-left:auto;
	margin-right:auto;
	background:url(../images/allcards.png) no-repeat 0px 0px;
}

#gameButtons{
    margin-top: 10px;
}

/* Betting buttons */
#higher, #lower{
	width: 48vw;
    font-size: 16px;
}

/*Slider*/
#sliderPanel{
	height:40px;
    margin-bottom: 10px;
}

#sliderBar{
	font-weight:bold;
	font-size: 12px;
}

#sliderBar div{
	width: 60%;
	touch-action: none;
}

#sliderBar div a{
	width: 35px;
	height: 35px;
	margin-top:-18px;
	border-radius: 10px;
}

#sliderBar .ui-slider{
	background: #456293;
}

#currentNumFingers{
	width:25px;
}

/*Bottom bar*/
#footer{
	height: 60px;
	position: absolute;
	bottom: 0;
}

#footer table{
	border-spacing: 0;
	width: 100%;
	text-align: center;
}

#footer table td{
    width: 25%;
}

#footer table td a{
    height: 38px;
    font-size: 11px;
}

#footer table td a > span{
    padding-top: 12px;
}

#footer table td a > span > span.ui-icon{
    margin-top: -7px;
}

#footer td{
	font-size:0.9em;
}

.spinnerSmall{
	height: 26px;
	width: 26px;
}

/*Lee pop up */

div#pictureContainer{
	text-align: center;
}

div#pictureContainer >div{
	height: 80px;
}

.pictureDisplay{
	margin: 20px auto 5px;
	width: 215px;
	height: 215px;
}

span#drinkMessage{
	font-size: 20px;
	color: #e23333;
}

#fingers{
	font-weight:bold;
}

/* Form*/

#newGameForm{
	text-align: left;
	margin-top: 10px;
}

a.button{
	font-size: 12px;
	margin: 0;
}

a.largeButton{
	font-size: 16px;
	height: 80px;
	margin-top: 15px;
	border: 5px solid transparent;
	min-width: 120px;
}

a.largeButton span.ui-btn-text{
	top: -3px;
}

a.largeButton span.ui-icon{
	bottom: 15px;
}

a.largeButton.selected{
	border: 5px solid #f3b805;
}

a.wholeWidthButton{
	display: block;
	margin: 5px 0 10px 0;
}

/* Start/cancel */
a.formButton{
	font-size: 0.9em;
	margin-top: 15px;
}

a.formButton.ui-btn-corner-all, a.formButton span.ui-btn-corner-all{
    border-radius: 3px;
}

a.formButton .ui-btn-inner{
	padding-right: 7px;
}

#errorMessage{
    color:red;
    vertical-align:middle;
}

/* Toggle buttons */
#gameOptions{
	text-align: center;
	margin-bottom:0px;
	padding-bottom: 8px;
}

#gameOptions label{
	font-size:0.9em;
}

.game_spinner{
	position:relative;
	top:3px;
	left:10px;
}

.game_spinner img{
	height:30px;
	width:30px;
	position:relative;
	top:9px;
}

.gameForm .gameFormSection{

	text-align: center;
	border-bottom: 1px solid grey;
}

.selectedItemName{

	margin-bottom: 8px;
}

.selectedItemName input{

	width: calc(100% - 75px);
	display: inline;
}

/*Game List*/
#gameList li{
    font-size: 12px;
}

#gameList li .ui-li-link-alt .ui-btn{
    margin: -14px 0 0 0;
}

#gameList li a p.activePlayers{
    white-space: initial;
    margin-top: 1px;
}

/*Game Player List*/
#gamePlayerList li{
	background-image: linear-gradient(#fdfdfd,#eee);
}

/*Player List*/
#playerList li{
	font-size:0.9em;
}
/*Player Form*/
#playerForm > span{
	font-size:1.2em;
	font-weight:bold;
}

#playerForm #playerFormErrorMessage{
	color:red;
}

#playerForm #pname{
	text-transform: lowercase;
}

/*Scores tab */
#scoreTab #copyLink{
	font-size: 0.8em;
    width: 165px;
	margin-bottom: 15px;
	display: block;
}

#scoreTab .ui-icon-copy{
	background-image: url(/images/copy.png);
	background-color: transparent;
	background-size: 18px;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#scoreTab .ui-icon-man{
	background-image: url(/images/person.png);
	background-size: 18px;
}

#scoreTab .ui-icon-crown{
	background-image: url(/images/crown.png);
	background-size: 14px;
	background-position-x: 2px;
	background-position-y: 2px;
}

#scoreTableDiv{
	position: relative;
	overflow: auto;
	margin-right: 5px
}

#scoreTable{
	font-weight: bold;
    text-shadow: none;
	padding:1px;
	table-layout: fixed;
}

#scoreTable tr th, #scoreTable tr td{
	padding:1px;
}

#scoreTable tr th{
	max-width:100px;
}

#scoreTable tr td.correct, #scoreTable tr td.incorrect{
	min-width: 22px;
	text-align:center;
	border: 1px solid grey;
	font-size: 0.9em;
}
#scoreTable tr td.correct{
	background-color:#66CC99;
}

#scoreTable tr td.incorrect{
	background-color:#F78181;
}

/* Copy link */
#scoreTable tr td.copyLinkCell{
	border: none;
	max-width: none;
}

#scoreTable tr td.copyLinkCell a{
	width: 31px;
	height: 31px;
}

#scoreTable tr td.copyLinkCell a > span{
	padding: 5px 0 5px 6px !important;
}

#scoreTable a.playerName{
	font-size: 0.8em;
	width:90px;
}

#scoreTable a.playerName > span, #scoreTab #copyLink > span{
	padding: .6em 0 .6em 20px !important;
}

#scoreTable a > span > span.ui-icon{
	left:4px;
}

#scoreStats{
    text-align: left;
    padding: 8px;
}

/*Drinkers tab */

#drinkersTab{
	padding: 2px;
}

#drinkersTab table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow: none;
	font-size: 0.8em;
	width: 100%;
	table-layout: fixed;
}

#drinkersTab table  tr th, #drinkersTab table tr td{
	padding:7px 2px 7px 2px;
	border: 1px solid gray;
	background-color: #F4F4F4;
}

/*Header row*/
#drinkersTab table tr th{
	background-color:#98AFC7;
}

/*First header*/
#drinkersTab table tr th:first-child{
	border-top-left-radius: 0.6em;
	width: 20px;
}

/*First column*/
#drinkersTab table tr td:first-child{
	background-color:#98AFC7;
	font-weight:bold;
}

/*Last on first column*/
#drinkersTab table tr:last-child  td:first-child{
	border-bottom-left-radius: 0.6em;
}

/*Header and footer column buttons*/
.drinkers_header{
	margin: 1px 1px;
	font-size: 0.75em;
}

.reloadButton{
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

.reloadButton > p{
	font-size:0.9em;
}

.navButtons > a, .reloadButton > a{
	float:right;
	font-size: 0.8em;
}

.navButtons > a:first-child{
	float:left;
}

.drinkers_header > span, .reloadButton>a > span  {
	padding: 10px 5px 10px 20px !important;
	white-space: normal;
}

.drinkers_header span.ui-icon,.navButtons>a span.ui-icon, .reloadButton>a span.ui-icon{
	left: 4px;
}

/*Spinner*/
.spinner{
	text-align:center;
}
.spinner img{
	height: 64px;
	width: 64px;
}
